[Unit]
Description=Udp2Raw
After=network.target

[Service]
ExecStart=/opt/udp2raw/udp2raw_amd64 -s -l0.0.0.0:8855 -r127.0.0.1:22345 -k "passwd" --raw-mode faketcp -a --log-level 3 --force-sock-buf 4096
Restart=always

[Install]
WantedBy=multi-user.target
