[Unit]
Description=Gost Service
After=network.target

[Service]
WorkingDirectory=/root/gfw_tools
ExecStart=/root/gfw_tools/gost-linux-armv8 -C config.json
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target
