[Unit]
Description=Trojan-GFW
After=network.target

[Service]
ExecStart=/root/trojan-1.3.0/build/trojan /root/trojan-1.3.0/build/server.json
Restart=always

[Install]
WantedBy=multi-user.target
