{
  admin off
}
file.go-back.cf:80 {
  reverse_proxy 127.0.0.1:8083
}
vless-cf.go-back.cf:80 {
  reverse_proxy 127.0.0.1:8084
}

go-back.win:80 www.go-back.win:80 {
  root * /root/webroot
  file_server
}

:3333 {
  tls /root/hysteria/cert.pem /root/hysteria/key.pem
  reverse_proxy 127.0.0.1:8080
}
